/* Styling for Base HTML */

.background {
  background-image: url(../img/medical-gdb4a9dbb6_1280.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 100%;
}

/* SEARCH BAR */
.searchbar {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.searchbar input {
  height: 40px;
  width: 600px;
}

/* input[type="text"] {
  font-family: "Raleway", sans-serif;
} */

/* SERVICES */
.services {
  padding: 10px 0 0px;
  text-align: center;
}

.services h4 {
  color: #636363;
  margin: 15px 0 15px
}

.services p {
  font-size: 14px;
  padding-bottom: 20px;
}

.services i {
  color: #636363;
}

/* BODY */
h1 {
  text-align: center;
  color: #636363;
  padding-top: 40px;
}

body {
  background-color: white; 
  font-family: "Raleway", sans-serif;
}



